
.main-layout {
  padding: 80px 0;
}

.container {
  max-width: 720px;
}

.horizontal-form .form-group {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.horizontal-form .form-group label {
  flex-basis: 200px;
  flex-shrink: 0;
}

